<%- include('partials/header') %>

<div class="container">
    <div class="box boxed">
        <div class="note">
        <h2>About Hundeyin</h2>
        <hr>
        <p>Hello, i am an Entry Software programmer / Web developer and i created this easy blog posting and blog publishing website, any one ca feel free to chime in and make some changes to make this product better</p>
        <p>The Technologies i used:</p>
        <ul>
            <li>HTML / CSS - For the content and styling of the web application</li>
            <li>Node & Express - For creating the servers and installing packages</li>
            <li>Ejs - For templating & passing data from server to page</li>
            <li>Github - for Version control</li>
        </ul>
        <h2>Features i would want to be added:</h2>
        <hr>
        <ul>
            <li>A way to delete Blogs from the home Page</li>
            <li>A Way to Sort the blogs by ranking or alphabetical order an so on</li>
            <li>...Any more changes that can be implemented</li>
        </ul>
    </div>
    </div>
</div>

<%- include('partials/footer') %>